<header class="vf-header">
  <header class="vf-global-header">

    <div class="vf-global-header__inner">

      {% render '@embl-logo' %}

      <p class="vf-global-header__site-name">{{ text }}</p>

      {% render '@vf-navigation--global' %}

    </div>

  </header>
</header>

{% render '@vf-masthead' %}
